<section>
    <% unless user.Photo.nil? %>
       <%= image_tag (user.Photo), height: '115', width: '115' %>
    <% end %>
    <div>
      <h2> <%= user.Name %></h2>
      <span>Number of posts: <%=user.PostsCounter %> </span>
    </div>
</section>